In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lufilufi,-13.8745,-171.5986,87.80,79,20,11.50,WS,2021-04-24 21:21:40
1,1,Vardo,70.3705,31.1107,34.34,82,100,22.55,NO,2021-04-24 21:21:11
2,2,Alghero,40.5589,8.3181,53.60,82,0,2.30,IT,2021-04-24 21:21:40
3,3,Chokurdakh,70.6333,147.9167,-3.55,89,5,5.12,RU,2021-04-24 21:20:38
4,4,Cape Town,-33.9258,18.4232,62.01,88,0,6.91,ZA,2021-04-24 21:15:00

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
    # Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lufilufi,-13.8745,-171.5986,87.80,79,20,11.50,WS,2021-04-24 21:21:40
6,6,Bengkulu,-3.8004,102.2655,75.13,88,100,3.36,ID,2021-04-24 21:20:48
7,7,Vila Velha,-20.3297,-40.2925,77.00,73,20,3.44,BR,2021-04-24 21:21:41
8,8,Cap Malheureux,-19.9842,57.6142,79.00,81,100,8.01,MU,2021-04-24 21:21:42
9,9,Bambous Virieux,-20.3428,57.7575,79.00,94,75,18.41,MU,2021-04-24 21:21:42
10,10,Saint-Philippe,-21.3585,55.7679,77.00,83,75,27.63,RE,2021-04-24 21:21:42
11,11,Rikitea,-23.1203,-134.9692,78.58,74,100,16.49,PF,2021-04-24 21:21:43
29,29,Aquiraz,-3.9014,-38.3911,82.40,78,0,5.75,BR,2021-04-24 21:21:48
31,31,Luganville,-15.5333,167.1667,81.86,83,70,9.53,VU,2021-04-24 21:21:49
34,34,Labuhan,-6.8844,112.2051,76.66,84,25,6.26,ID,2021-04-24 21:20:21

In [27]:
preferred_cities_df.count()

City_ID       170
City          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
Country       170
Date          170
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0          Lufilufi      WS     87.80 -13.8745 -171.5986
6          Bengkulu      ID     75.13  -3.8004  102.2655
7        Vila Velha      BR     77.00 -20.3297  -40.2925
8    Cap Malheureux      MU     79.00 -19.9842   57.6142
9   Bambous Virieux      MU     79.00 -20.3428   57.7575
10   Saint-Philippe      RE     77.00 -21.3585   55.7679
11          Rikitea      PF     78.58 -23.1203 -134.9692
29          Aquiraz      BR     82.40  -3.9014  -38.3911
31       Luganville      VU     81.86 -15.5333  167.1667
34          Labuhan      ID     76.66  -6.8844  112.2051

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lufilufi,WS,87.80,-13.8745,-171.5986,Leuaina Beach Resort and Spa
6,Bengkulu,ID,75.13,-3.8004,102.2655,Grage Hotel Bengkulu
7,Vila Velha,BR,77.00,-20.3297,-40.2925,Quality Suites Vila Velha
8,Cap Malheureux,MU,79.00,-19.9842,57.6142,Pereybere Hotel & Spa
9,Bambous Virieux,MU,79.00,-20.3428,57.7575,Casa Tia Villa
10,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
11,Rikitea,PF,78.58,-23.1203,-134.9692,Pension Maro'i
29,Aquiraz,BR,82.40,-3.9014,-38.3911,Pousada Rua Camurupim
31,Luganville,VU,81.86,-15.5333,167.1667,The Espiritu Hotel
34,Labuhan,ID,76.66,-6.8844,112.2051,PT PPI Lamongan Tambak C

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))