## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Victoria,HK,77.00,overcast clouds,22.2855,114.1577,Mini Hotel Central
1,9,Butaritari,KI,82.35,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
2,11,Kapaa,US,75.20,broken clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
3,12,Mar Del Plata,AR,71.01,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
4,13,Carnarvon,AU,66.20,broken clouds,-24.8667,113.6333,Hospitality Carnarvon

In [3]:
vacation_df.rename(columns = {'Unnamed: 0':'City ID'}, inplace = True)
vacation_df.head()

,City ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Victoria,HK,77.00,overcast clouds,22.2855,114.1577,Mini Hotel Central
1,9,Butaritari,KI,82.35,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
2,11,Kapaa,US,75.20,broken clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
3,12,Mar Del Plata,AR,71.01,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
4,13,Carnarvon,AU,66.20,broken clouds,-24.8667,113.6333,Hospitality Carnarvon

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:

itinerary_df = vacation_df.loc[(vacation_df['Country'] =='PE')]
itinerary_df

,City ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,24,Camana,PE,70.48,few clouds,-16.6228,-72.7111,Hostal Morales
75,150,Pisco,PE,71.60,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
85,185,Punta De Bombon,PE,69.48,scattered clouds,-17.1717,-71.7931,Hotel Bedregal
114,242,Acari,PE,78.30,few clouds,-15.4311,-74.6158,HOSPEDAJE XIMENA
151,311,Hualmay,PE,72.07,few clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
163,342,Chicama,PE,66.20,few clouds,-7.8447,-79.1469,Balihai Bungalows
331,659,Talara,PE,82.40,clear sky,-4.5772,-81.2719,Hostal Oro Negro

In [35]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


chicama_start = vacation_df.loc[(vacation_df["City ID"] == 342)]
chicama_end = vacation_df.loc[(vacation_df["City ID"] == 342)]
hualmay_stop1 = vacation_df.loc[(vacation_df["City ID"] == 311)]
pisco_stop2 = vacation_df.loc[(vacation_df["City ID"] == 150)] 
acari_stop3 = vacation_df.loc[(vacation_df["City ID"] == 242)]

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = chicama_start[["Lat", "Lng"]].to_numpy()[0]
end = chicama_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = hualmay_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = pisco_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = acari_stop3[["Lat", "Lng"]].to_numpy()[0]

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_directions = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(vacation_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
peru_itinerary_df = pd.concat([chicama_start, chicama_end, hualmay_stop1, pisco_stop2, acari_stop3],ignore_index=True)
peru_itinerary_df

,City ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,342,Chicama,PE,66.20,few clouds,-7.8447,-79.1469,Balihai Bungalows
1,342,Chicama,PE,66.20,few clouds,-7.8447,-79.1469,Balihai Bungalows
2,311,Hualmay,PE,72.07,few clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
3,150,Pisco,PE,71.60,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
4,242,Acari,PE,78.30,few clouds,-15.4311,-74.6158,HOSPEDAJE XIMENA

In [40]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in peru_itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = peru_itinerary_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))